<section class="col-span-2">
  <%= turbo_stream_from :suggestions %>
  <%= turbo_frame_tag "stories_#{dom_id(current_user)}" do %>
    <%= render partial: "components/stories_for_current_user" %>
  <% end %>

  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</section>
