<div class="flex items-center justify-between mt-14 ml-10">
  <%=image_tag Faker::Avatar.image, class: 'rounded-full border p-[2px] w-16 h-16' %>

  <div class="flex-1 mx-4">
    <h2 class="font-bold">asdasdasdas</h2>
    <h3 class="text-sm text-gray-400">Welcome to Instagram</h3>
  </div>

  <%=button_tag 'Sign out', class: 'text-blue-400 text-sm font-semibold' %>
</div>