<div class="flex space-x-2 p-6 bg-white mt-8 border-gray-200 border rounded-sm overflow-x-scroll hide-scrollbar">
<% 20.times.each do %>
  <%= render partial: "components/story", locals: { suggestion: suggestion } %>
<% end %>
</div>