.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.noborder{
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.placeholder::placeholder {
  color: #e5e7eb;
  opacity: 1;
}
